*{
    box-sizing: border-box;
}
body{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif; 
    padding: 0;
    margin:0;
}

h1{
    text-align: center;
    padding: 20px;
}
.row{
    width:100%;
}

#chicken{
    background-color: pink; 
    width: 30%;
    text-align: center;
    position: relative;
    left:75.5%;
    margin-top: 0px;
    border: black 2px solid;
    
}
#beef{
    background-color: tomato;
    width: 30%;
    text-align: center;
    position: relative;
    left:75.5%;
    margin-top: 0px;
    border: black 2px solid;
}

#sushi{
    background-color: lemonchiffon;
    width: 30%;
    text-align: center;
    position: relative;
    left:75.5%;
    margin-top: 0px;
    border: black 2px solid;
}

section{
    width: 420px;
    margin-right: auto;
    margin-left: auto;
    background-color:cornflowerblue;
    
    margin: 20px;
    padding: 0px 20px 20px 20px;
    position: relative; 
    border: black 2px solid;
}
/*
section{
    margin-right: auto;
    margin-left: auto;
    width:100%;
    float: both;

}*/
@media(min-width:992px){

    .col-lg-3
    {
        float: left;
        width:33.33%;
    }   
}

@media(min-width:768px) and (max-width:991px){

    .col-md-6
    {
        float: left;
        width:50%;
    }  

    .col-md-12
    {
        float: left;
        width:100%;
    } 
}

@media(max-width:767px){
    .col-sm-12{
        float: left;
        width:100%;
    }
}